<!-- inicio menú que tiene una lista y NAVBAR-->
<nav class="navbar navbar-expand-sm navbar-dark fixed-top menu">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="assets/img/logo.png" alt="" width="416" height="66">
    </a>
    <button class="navbar-toggler"
    type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toogle navigation">

    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="listaMenu">
        <ul class="navbar-nav ml-auto">
        <li  routerLink= "/bookshop" class="nav-item"><a class="nav-link"><i class="fas fa-book-open"></i>Bookshop</a></li>
        <li routerLink = "/lista-bookshop"class="nav-item"><a class="nav-link"><i class="fa-solid fa-store"></i>BookStore</a></li>
        <li routerLink="/storyMaker" class="nav-item"><a class="nav-link"><i class="fa-solid fa-marker"></i>Story Maker</a></li>
        <li routerLink="/ingreso" class="nav-item"><a class="nav-link"><i class="fas fa-user"></i>Login</a></li>
        </ul>
    </div>
    </div>
</nav>