
.fa-cash-register{
    font-size: 1.5rem;
}

.fa-shopify{
    font-size: 1.5rem;
}

.fa-cash-register:hover {
    color: #aae7df;
    font-size: 2.0rem;
}

.fa-shopify:hover {
    color: #d14972;
    font-size: 2.0rem;
}